[submodule "template-rails"]
	path = template-rails
	url = git@github.com:ymmmtym/template-rails.git
	branch = master
[submodule "template-mkdocs"]
	path = template-mkdocs
	url = git@github.com:ymmmtym/template-mkdocs.git
	branch = main
[submodule "template-deno"]
	path = template-deno
	url = git@github.com:ymmmtym/template-deno.git
	branch = main
[submodule "template-gin"]
	path = template-gin
	url = git@github.com:ymmmtym/template-gin.git
	branch = master
[submodule "template-django-polls"]
	path = template-django-polls
	url = git@github.com:ymmmtym/template-django-polls.git
	branch = master
[submodule "template-vue"]
	path = template-vue
	url = git@github.com:ymmmtym/template-vue.git
	branch = master
[submodule "template-node-express"]
	path = template-node-express
	url = git@github.com:ymmmtym/template-node-express.git
	branch = master
